<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%# showing flash messages if entries are saved from articles_controller.rb > create method  %>
    <% flash.each do |type, msg| %>
      <%= msg %>
    <% end %>
    <%= yield %>
  </body>
</html>
